<div class="pokemon-card">
    <p *ngIf="!pokemon">Wait...</p>
    <div *ngIf="pokemon" class="card" [style.border]="pokemon.damage > 50 ? '1px solid red' : '1px solid black'">
        <h2>{{pokemon.name | titlecase}}</h2>
        <img 
            class="image"
            src="https://raw.githubusercontent.com/js-training-dec-2019/final-project/master/pokemons/{{pokemon.id}}.png" 
            alt=""
        >
        <p>{{"Damage: " + pokemon.damage}}</p>
        <p>{{pokemon.caught ? "Caught" : "Not Caught"}}</p>
        <div><button (click)="toggleCaught()" class="catch-button">{{pokemon.caught ? "Release" : "Catch"}}</button></div>
    </div>
</div>

