.pokemon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;

    .card {
        padding: 50px;
    }

    h2 {
        text-align: center;
    }

    img {
        width: 200px;
    }
}

