<div class="pokemon-card">
    <p *ngIf="!pokemon">Wait...</p>
    <div *ngIf="pokemon" class="card" [style.border]="pokemon.damage > 50 ? '1px solid red' : '1px solid black'">
        <h2>{{pokemon.name | titlecase}}</h2>
        <img *ngIf="pokemon"
            class="image"
            src="{{imageUrl}}"
            alt=""
        >
        <p>{{"Damage: " + pokemon.damage}}</p>
        <p>{{pokemon.caught ? "Caught" : "Not Caught"}}</p>
        <div><button (click)="toggleCaught()" class="button">{{pokemon.caught ? "Release" : "Catch"}}</button></div>
        <div>
            <a routerLink="/edit/{{pokemon.id}}">
                <button class="button">Edit</button>
            </a>
        </div>
    </div>
</div>

