<li class="list-item" [ngClass]="{highlighted: (pokemon.damage >= 50)}">
    <div class="list-item__name">{{pokemon.name | titlecase}}</div>
    <div class="list-item__damage">Damage: {{pokemon.damage}}</div>
    <a routerLink="{{'/pokemon/' + pokemon.id}}">
        <img class="list-item__image" *ngIf="pictureDisplayed"
            src="https://raw.githubusercontent.com/js-training-dec-2019/final-project/master/pokemons/{{pokemon.id}}.png" 
            alt="pokemon"
        >
    </a>
    <div>
        <button (click)="toggleCaught()" class="button">{{pokemon.caught ? "Release" : "Catch"}}</button>
    </div>
</li>