.manage-form {
    margin: 0 auto;
    width: 70%;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 30px;
}

.form-group {
    margin: 20px;
}

.warning {
    color: red;
}