<form class="manage-form" [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
    <div class="form-group"><h1>{{editMode ? "Edit pokemon" : "Add pokemon"}}</h1></div>
    <div class="form-group">
        Id: 
        <input type="text" placeholder="Enter id" formControlName="id">
        <div>
            <small class="warning" *ngIf="!pokemonForm.controls['id'].valid && pokemonForm.controls['id']?.touched">
                Id should be at least 6 characters long
            </small>
        </div>
    </div>
    <div class="form-group">
        Name:
        <input type="text" placeholder="Enter name" formControlName="name">
        <div>
            <small class="warning" *ngIf="!pokemonForm.controls['name'].valid && pokemonForm.controls['name']?.touched">
                Name should be at least 4 characters long
            </small>
        </div>
    </div>
    <div class="form-group">
        Damage:
        <input type="text" placeholder="Enter damage" formControlName="damage">
        <div>
            <small class="warning" *ngIf="!pokemonForm.controls['damage'].valid && pokemonForm.controls['damage']?.touched">
                Damage should be at least 1 or greater
            </small>
        </div>
    </div>
    <div class="form-group" *ngIf="pokemon">
        <app-search formControlName="tags"></app-search>
        <div>
            <small class="warning" *ngIf="!pokemonForm.controls['tags'].valid && pokemonForm.controls['tags']?.touched">
                There should be either 0 or more than 1 tag
            </small>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!pokemonForm.valid">{{editMode ? "Update pokemon" : "Add pokemon"}}</button>
    </div>
</form>
